@import 'tailwindcss';

@theme inline {
  --font-aktiv-grotesk: var(--font-aktiv-grotesk);
  --font-boldonse: var(--font-boldonse);

  --color-deep-black: #150e1c;
  --color-mystery-purple: #dcb8ff;
  --color-paper-white: #f3f0eb;
  --color-bold-green: #9fff63;
  --color-brave-red: #fe572a;

  --breakpoint-xs: 21rem;
}

:root {
  --header-height: 60px;
}

@media (min-width: 1024px) {
  :root {
    --header-height: 84px;
  }
}

@keyframes scroll-content {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(-100% / 3), 0, 0);
  }
}
