---
type Variant = 'light' | 'dark'
type Padding = 'default' | 'compact'

interface Props {
  title: string
  text: string
  variant?: Variant
  padding?: Padding
  className?: string
}

const {
  title,
  text,
  variant = 'light',
  padding = 'default',
  className,
} = Astro.props
---

<section
  class:list={[
    'flex flex-col gap-[18px] md:gap-7 p-10',
    padding === 'default' && 'md:px-35 md:py-25',
    padding === 'compact' && 'md:p-15 md:pt-0',
    variant === 'light' && 'bg-paper-white text-deep-black',
    variant === 'dark' && 'bg-deep-black text-paper-white',
    className,
  ]}
>
  <h3 class="font-medium md:text-[32px] leading-[1.12]">{title}</h3>
  <p class="text-sm md:text-xl leading-[1.2] md:max-w-[671px]">
    {text}
  </p>
</section>
