---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

interface Props {
  src: string
  aspect?: string
  overlayImage?: ImageMetadata
}

const { src, aspect, overlayImage } = Astro.props
---

<div class="relative">
  {
    aspect ? (
      <div class="overflow-hidden w-full" style={`aspect-ratio: ${aspect}`}>
        <video
          src={src}
          autoplay
          loop
          muted
          playsinline
          class="size-full object-cover"
        />
      </div>
    ) : (
      <video src={src} autoplay loop muted playsinline class="w-full" />
    )
  }
  {
    overlayImage && (
      <Image
        src={overlayImage}
        alt=""
        class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-[180px] md:w-100"
      />
    )
  }
</div>
