---
import { getCollection } from 'astro:content'
import Block from '../components/blocks/Block.astro'
import Layout from '../layouts/Layout.astro'
import Carousel from '../components/Carousel.astro'

export async function getStaticPaths() {
  const projects = await getCollection('projects')
  return projects.map((project) => ({
    params: { slug: project.id },
    props: { project },
  }))
}

const { project } = Astro.props
const isPasswordProtected = project.id === 'zoca'
const zocaPassword = 'loremipsum'
---

<Layout title={project.data.preview.title} withTopPadding>
  <script is:inline define:vars={{ isPasswordProtected, zocaPassword }}>
    if (isPasswordProtected) {
      const password = window.prompt(
        'This project is not public just yet – password-protected until launch. Reach out on LinkedIn for access :)',
      )

      if (password !== zocaPassword) {
        window.location.replace('/')
      } else {
        window.addEventListener('DOMContentLoaded', () => {
          document
            .querySelector('[data-protected-project]')
            ?.removeAttribute('hidden')
        })
      }
    }
  </script>
  <div data-protected-project hidden={isPasswordProtected}>
    {project.data.blocks?.map((block) => <Block block={block} />)}
    <Carousel />
  </div>
</Layout>
