---
import clsx from 'clsx'
---

<header class="fixed w-full top-6 z-50 px-4 md:px-6 lg:px-21">
  <div
    class={clsx(
      'rounded-[60px] md:rounded-[18px] lg:rounded-[28px] h-(--header-height) flex max-md:flex-col items-center justify-center text-paper-white bg-deep-black/50 backdrop-blur-md',
      'md:grid md:grid-cols-[1fr_auto_1fr] md:px-6 lg:px-14',
    )}
  >
    <p
      class="max-md:hidden uppercase text-sm lg:text-base xl:text-lg md:justify-self-start"
    >
      My work
    </p>
    <h1
      class="text-xl text-center uppercase md:flex md:flex-col md:text-sm lg:text-base xl:text-lg md:leading-[1.3]"
    >
      <span>Yuliia</span>
      <span>Olomska</span>
    </h1>
    <p class="text-[10px] md:hidden">Giving shape to thought.</p>
    <div
      class="max-md:hidden group bg-bold-green/20 hover:bg-bold-green rounded-md px-2.5 h-8 flex items-center gap-1.5 transition-colors md:justify-self-end"
    >
      <span
        class="size-1.5 rounded-full bg-bold-green group-hover:bg-deep-black shrink-0 transition-colors"
      ></span>
      <span
        class="relative text-base lg:text-lg text-bold-green group-hover:text-deep-black whitespace-nowrap transition-colors"
        ><span class="invisible">Reach out to me :)</span>
        <span
          class="absolute inset-0 opacity-100 group-hover:opacity-0 transition-opacity"
          >Available for work</span
        ><span
          class="absolute inset-0 opacity-0 group-hover:opacity-100 transition-opacity"
          >Reach out to me :)</span
        ></span
      >
    </div>
  </div>
</header>
