<header
  class="h-(--header-height) flex flex-col items-center justify-center gap-y-0.5 text-paper-white bg-deep-black fixed w-full top-6 z-50"
>
  <h1 class="text-xl uppercase">Yuliia Olomska</h1>
  <p class="text-[10px]">Giving shape to thought.</p>
</header>
